<div>
    <h1>{{title}}</h1>
    <div id='productos-lista' class="cartContainer">
        
    </div>
    <div class="formCont">
        <div class="managerTitle">
            <h2>Manager Products</h2>
        </div>
        <br>
        <div id="formContainer" class="formContainer">
            <form id="productForm" class="productForm">
                <h3>Eliminar producto</h3>
                <p>Ingresar solamente el ID del producto</p>
                <input type='text' name='eliminar' id='eliminar' />
                <button id='eliminarProducto' type='submit' id="buttonEliminar">Eliminar</button>
            </form>
            <form id='addProduct' class='productform'>
                <h3>Agregar Producto</h3>
                <p>Agregue productos con el id: 1, 2, 3</p>
                <p>Controlar que no esté agregado en la lista de productos</p>
                <input type='text' name='product' id='product' />
                <button id='agregarProducto' type='submit'>Agregar</button>
            </form>
        </div>
    </div>
</div>